.nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 70wv;
    justify-content: flex-end;
    margin-right: 5rem;
} 

.nav-item {
    display: flex;
    align-items: center;
} 

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 5rem;
    margin-top: 20px;
    border-radius: 10px;
}

.nav-item a:hover {
    background-color: #0dcaf0
}